# Happiness Heat Map

## Dependencies Set-up

In [232]:
# Dependencies
from vis1_cnfg import gkey
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states
import json

# Configure gmaps with API key
gmaps.configure(api_key=gkey)

## Data Retrieval

In [233]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
df_happy = pd.read_csv("../data/clean_data/happiness_ay.csv")
df_happy.head()

,Country Code,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Unnamed: 12
0,FI,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393,7.632
1,NO,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340,7.594
2,DK,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408,7.554
3,IS,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138,7.495
4,CH,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357,7.489

## Testing out API Request for Lat/Longs

In [234]:
# Target country
#target_country = "Finland"

# Build the endpoint URL
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_country, gkey)

# Run a request to endpoint and convert result to json
geo_data = requests.get(target_url).json()

# Print the json
print(geo_data)
print(target_url)

{'results': [{'address_components': [{'long_name': 'Finland', 'short_name': 'FI', 'types': ['country', 'political']}], 'formatted_address': 'Finland', 'geometry': {'bounds': {'northeast': {'lat': 70.0922932, 'lng': 31.5870999}, 'southwest': {'lat': 59.693623, 'lng': 20.4565002}}, 'location': {'lat': 61.92410999999999, 'lng': 25.7481511}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 70.0922932, 'lng': 31.5870999}, 'southwest': {'lat': 59.693623, 'lng': 20.4565002}}}, 'place_id': 'ChIJ3fYyS9_KgUYREKh1PNZGAQA', 'types': ['country', 'political']}], 'status': 'OK'}
https://maps.googleapis.com/maps/api/geocode/json?address=Finland&key=AIzaSyCZYUp2TGuAKZGJPMv8QBxiB160iruo1lM

In [235]:
# Print the json (pretty printed)
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "Finland",
                    "short_name": "FI",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "Finland",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 70.0922932,
                        "lng": 31.5870999
                    },
                    "southwest": {
                        "lat": 59.693623,
                        "lng": 20.4565002
                    }
                },
                "location": {
                    "lat": 61.92410999999999,
                    "lng": 25.7481511
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 70.0922932,
                        "lng": 31.5870999
                    },
                    "southwest": {
                        "lat": 59.693623,
                        "lng": 20.4565002
                    }
                }
            },
            "place_id": "ChIJ3fYyS9_KgUYREKh1PNZGAQA",
            "types": [
                "country",
                "political"
            ]
        }
    ],
    "status": "OK"
}

In [236]:
# Extract latitude and longitude and short name
country = geo_data["results"][0]["address_components"][0]["long_name"]
cc = geo_data["results"][0]["address_components"][0]["short_name"]
lat = geo_data["results"][0]["geometry"]["location"]["lat"]
lng = geo_data["results"][0]["geometry"]["location"]["lng"]


# Print the latitude and longitude
print('''
    Country: {0}
    Country_Code: {1}
    Latitude: {2}
    Longitude: {3}
    '''.format(target_country,cc, lat, lng))

    Country: Finland
    Country_Code: FI
    Latitude: 61.92410999999999
    Longitude: 25.7481511

## Generating List of Countries

In [211]:
#Create DataFrame of countries from main happiness DataFrame
df_countries = df_happy.iloc[:,0:2]

df_countries.head()

  Country Code      Country
0           FI      Finland
1           NO       Norway
2           DK      Denmark
3           IS      Iceland
4           CH  Switzerland

In [237]:
#Turn the DataFrame into a list format to be used in the for loop below
list_countries = []
list_countries =df_countries["Country"].tolist()
#verify the type
type(list_countries)
#print
list_countries

['Finland',
 'Norway',
 'Denmark',
 'Iceland',
 'Switzerland',
 'Netherlands',
 'Canada',
 'New Zealand',
 'Sweden',
 'Australia',
 'Israel',
 'Austria',
 'Costa Rica',
 'Ireland',
 'Germany',
 'Belgium',
 'Luxembourg',
 'United States',
 'United Kingdom',
 'United Arab Emirates',
 'Czech Republic',
 'Malta',
 'France',
 'Mexico',
 'Chile',
 'Taiwan',
 'Panama',
 'Brazil',
 'Argentina',
 'Guatemala',
 'Uruguay',
 'Qatar',
 'Saudi Arabia',
 'Singapore',
 'Malaysia',
 'Spain',
 'Colombia',
 'Trinidad & Tobago',
 'Slovakia',
 'El Salvador',
 'Nicaragua',
 'Poland',
 'Bahrain',
 'Uzbekistan',
 'Kuwait',
 'Thailand',
 'Italy',
 'Ecuador',
 'Belize',
 'Lithuania',
 'Slovenia',
 'Romania',
 'Latvia',
 'Japan',
 'Mauritius',
 'Jamaica',
 'South Korea',
 'Northern Cyprus',
 'Russia',
 'Kazakhstan',
 'Cyprus',
 'Bolivia',
 'Estonia',
 'Paraguay',
 'Peru',
 'Kosovo',
 'Moldova',
 'Turkmenistan',
 'Hungary',
 'Libya',
 'Philippines',
 'Honduras',
 'Belarus',
 'Turkey',
 'Pakistan',
 'Hong Kong',
 'Portugal',
 'Serbia',
 'Greece',
 'Tajikistan',
 'Montenegro',
 'Croatia',
 'Dominican Republic',
 'Algeria',
 'Morocco',
 'China',
 'Azerbaijan',
 'Lebanon',
 'Macedonia',
 'Kingdom of Jordan',
 'Nigeria',
 'Kyrgyzstan',
 'Bosnia and Herzegovina',
 'Mongolia',
 'Vietnam',
 'Indonesia',
 'Bhutan',
 'Somalia',
 'Cameroon',
 'Bulgaria',
 'Nepal',
 'Venezuela',
 'Gabon',
 'Palestine',
 'South Africa',
 'Iran',
 'Ivory Coast',
 'Ghana',
 'Senegal',
 'Laos',
 'Tunisia',
 'Albania',
 'Sierra Leone',
 'Republic of the Congo',
 'Bangladesh',
 'Sri Lanka',
 'Iraq',
 'Mali',
 'Namibia',
 'Cambodia',
 'Burkina Faso',
 'Egypt',
 'Mozambique',
 'Kenya',
 'Zambia',
 'Mauritania',
 'Ethiopia',
 'Georgia',
 'Armenia',
 'Myanmar',
 'Chad',
 'Democratic Republic of the Congo',
 'India',
 'Niger',
 'Uganda',
 'Benin',
 'Sudan',
 'Ukraine',
 'Togo',
 'Guinea',
 'Lesotho',
 'Angola',
 'Madagascar',
 'Zimbabwe',
 'Afghanistan',
 'Botswana',
 'Malawi',
 'Haiti',
 'Liberia',
 'Syria',
 'Rwanda',
 'Yemen',
 'Tanzania',
 'South Sudan',
 'Central African Republic',
 'Burundi']

## Perform API Calls against Google GeoData

In [242]:
#set up empty lists for API calls to fill
query_country = []
country_name = []
country_code = []
lat = []
lng = []

#sets up test country list to prototype with first 20
test_countries = list_countries[0:20]

#for counter, country in enumerate(list_countries, 1):   
for counter, country in enumerate(test_countries, 1):   
    print (f"{counter} for {country}")
    query_url = "https://maps.googleapis.com/maps/api/geocode/json?" + "address=" + country + "&key=" + gkey
    geo_data = requests.get(query_url).json()
    #print (f"{query_url}")
    #print (f"{base_url}")
    #print(f"{country}")
    #print(f"{gkey}")
    
    #append country name, country code, lat/long information to lists
    query_country.append(country)
    country_name.append(geo_data["results"][0]["address_components"][0]["long_name"])
    country_code.append(geo_data["results"][0]["address_components"][0]["short_name"])
    lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
    lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])


print(query_country)
print(country_code)
print(country_name)
print(lat)
print(lng)

1 for Finland
2 for Norway
3 for Denmark
4 for Iceland
5 for Switzerland
6 for Netherlands
7 for Canada
8 for New Zealand
9 for Sweden
10 for Australia
11 for Israel
12 for Austria
13 for Costa Rica
14 for Ireland
15 for Germany
16 for Belgium
17 for Luxembourg
18 for United States
19 for United Kingdom
20 for United Arab Emirates
['Finland', 'Norway', 'Denmark', 'Iceland', 'Switzerland', 'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia', 'Israel', 'Austria', 'Costa Rica', 'Ireland', 'Germany', 'Belgium', 'Luxembourg', 'United States', 'United Kingdom', 'United Arab Emirates']
['FI', 'NO', 'DK', 'IS', 'CH', 'NL', 'CA', 'NZ', 'SE', 'AU', 'IL', 'AT', 'CR', 'Ireland', 'DE', 'BE', 'LU', 'US', 'GB', 'AE']
['Finland', 'Norway', 'Denmark', 'Iceland', 'Switzerland', 'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia', 'Israel', 'Austria', 'Costa Rica', 'Ireland', 'Germany', 'Belgium', 'Luxembourg', 'United States', 'United Kingdom', 'United Arab Emirates']
[61.92410999999999, 60.47202399999999, 56.26392, 64.963051, 46.818188, 52.132633, 56.130366, -40.900557, 60.12816100000001, -25.274398, 31.046051, 47.516231, 9.748916999999999, 53.1423672, 51.165691, 50.503887, 49.815273, 37.09024, 55.378051, 23.424076]
[25.7481511, 8.468945999999999, 9.501785, -19.020835, 8.227511999999999, 5.291265999999999, -106.346771, 174.885971, 18.643501, 133.775136, 34.851612, 14.550072, -83.753428, -7.692053599999999, 10.451526, 4.469936, 6.129582999999999, -95.712891, -3.435973, 53.847818]

In [243]:
#print each list to verify data and see if cleanup needs to happen
print(list_countries) #full list from Happiness data
print(country_name) #Jordan is coming over as # 121 Fixed in original .csv "Kingdom of Jordan"
print(country_code) # Originally Ireland, Taiwan Province, Northern Cyprus, Brazzaville, Jordan is coming over as # 121. Fixed all but Northern Cyprus
print(lat)
print(lng)

['Finland', 'Norway', 'Denmark', 'Iceland', 'Switzerland', 'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia', 'Israel', 'Austria', 'Costa Rica', 'Ireland', 'Germany', 'Belgium', 'Luxembourg', 'United States', 'United Kingdom', 'United Arab Emirates', 'Czech Republic', 'Malta', 'France', 'Mexico', 'Chile', 'Taiwan', 'Panama', 'Brazil', 'Argentina', 'Guatemala', 'Uruguay', 'Qatar', 'Saudi Arabia', 'Singapore', 'Malaysia', 'Spain', 'Colombia', 'Trinidad & Tobago', 'Slovakia', 'El Salvador', 'Nicaragua', 'Poland', 'Bahrain', 'Uzbekistan', 'Kuwait', 'Thailand', 'Italy', 'Ecuador', 'Belize', 'Lithuania', 'Slovenia', 'Romania', 'Latvia', 'Japan', 'Mauritius', 'Jamaica', 'South Korea', 'Northern Cyprus', 'Russia', 'Kazakhstan', 'Cyprus', 'Bolivia', 'Estonia', 'Paraguay', 'Peru', 'Kosovo', 'Moldova', 'Turkmenistan', 'Hungary', 'Libya', 'Philippines', 'Honduras', 'Belarus', 'Turkey', 'Pakistan', 'Hong Kong', 'Portugal', 'Serbia', 'Greece', 'Tajikistan', 'Montenegro', 'Croatia', 'Dominican Republic', 'Algeria', 'Morocco', 'China', 'Azerbaijan', 'Lebanon', 'Macedonia', 'Kingdom of Jordan', 'Nigeria', 'Kyrgyzstan', 'Bosnia and Herzegovina', 'Mongolia', 'Vietnam', 'Indonesia', 'Bhutan', 'Somalia', 'Cameroon', 'Bulgaria', 'Nepal', 'Venezuela', 'Gabon', 'Palestine', 'South Africa', 'Iran', 'Ivory Coast', 'Ghana', 'Senegal', 'Laos', 'Tunisia', 'Albania', 'Sierra Leone', 'Republic of the Congo', 'Bangladesh', 'Sri Lanka', 'Iraq', 'Mali', 'Namibia', 'Cambodia', 'Burkina Faso', 'Egypt', 'Mozambique', 'Kenya', 'Zambia', 'Mauritania', 'Ethiopia', 'Georgia', 'Armenia', 'Myanmar', 'Chad', 'Democratic Republic of the Congo', 'India', 'Niger', 'Uganda', 'Benin', 'Sudan', 'Ukraine', 'Togo', 'Guinea', 'Lesotho', 'Angola', 'Madagascar', 'Zimbabwe', 'Afghanistan', 'Botswana', 'Malawi', 'Haiti', 'Liberia', 'Syria', 'Rwanda', 'Yemen', 'Tanzania', 'South Sudan', 'Central African Republic', 'Burundi']
['Finland', 'Norway', 'Denmark', 'Iceland', 'Switzerland', 'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia', 'Israel', 'Austria', 'Costa Rica', 'Ireland', 'Germany', 'Belgium', 'Luxembourg', 'United States', 'United Kingdom', 'United Arab Emirates']
['FI', 'NO', 'DK', 'IS', 'CH', 'NL', 'CA', 'NZ', 'SE', 'AU', 'IL', 'AT', 'CR', 'Ireland', 'DE', 'BE', 'LU', 'US', 'GB', 'AE']
[61.92410999999999, 60.47202399999999, 56.26392, 64.963051, 46.818188, 52.132633, 56.130366, -40.900557, 60.12816100000001, -25.274398, 31.046051, 47.516231, 9.748916999999999, 53.1423672, 51.165691, 50.503887, 49.815273, 37.09024, 55.378051, 23.424076]
[25.7481511, 8.468945999999999, 9.501785, -19.020835, 8.227511999999999, 5.291265999999999, -106.346771, 174.885971, 18.643501, 133.775136, 34.851612, 14.550072, -83.753428, -7.692053599999999, 10.451526, 4.469936, 6.129582999999999, -95.712891, -3.435973, 53.847818]

In [251]:
#create a dataframe to store all the cities and countries generated with citipy
lat_lngs_df = pd.DataFrame({'Query Country': query_country, 'Country':country_name, 'Country Code':country_code, 'Latitude':lat, 'Longitude':lng})
#print(city_exists)
#print(cloudiness)
#print(country_code)
#print(date)
#print(humidity)
#print(lat)
#print(lon)
#print(max_temp)
#print(windspeed)

#lat_lngs_df[0:29]
#lat_lngs_df[30:69]
#lat_lngs_df[70:100]
#lat_lngs_df[101:156]

lat_lngs_df

,Query Country,Country,Country Code,Latitude,Longitude
0,Finland,Finland,FI,61.924110,25.748151
1,Norway,Norway,NO,60.472024,8.468946
2,Denmark,Denmark,DK,56.263920,9.501785
3,Iceland,Iceland,IS,64.963051,-19.020835
4,Switzerland,Switzerland,CH,46.818188,8.227512
5,Netherlands,Netherlands,NL,52.132633,5.291266
6,Canada,Canada,CA,56.130366,-106.346771
7,New Zealand,New Zealand,NZ,-40.900557,174.885971
8,Sweden,Sweden,SE,60.128161,18.643501
9,Australia,Australia,AU,-25.274398,133.775136
10,Israel,Israel,IL,31.046051,34.851612
11,Austria,Austria,AT,47.516231,14.550072
12,Costa Rica,Costa Rica,CR,9.748917,-83.753428
13,Ireland,Ireland,Ireland,53.142367,-7.692054
14,Germany,Germany,DE,51.165691,10.451526
15,Belgium,Belgium,BE,50.503887,4.469936
16,Luxembourg,Luxembourg,LU,49.815273,6.129583
17,United States,United States,US,37.090240,-95.712891
18,United Kingdom,United Kingdom,GB,55.378051,-3.435973
19,United Arab Emirates,United Arab Emirates,AE,23.424076,53.847818

In [252]:
#Fixing Country Codes
#Ireland, Taiwan Province, Northern Cyprus, Brazzaville, Jordan
lat_lngs_df.at[13, 'Country Code'] = "IE" #Ireland is IE in happiness csv
#lat_lngs_df.at[25, 'Country Code'] = "SY" #Taiwan Province is SY in happiness csv
lat_lngs_df.at[57, 'Country Code'] = "NF" #Northern Cyprus is NF in happiness csv
#lat_lngs_df.at[113, 'Country Code'] = "CG" #Brazzaville is  in happiness csv
#lat_lngs_df[50:90]
lat_lngs_df

,Query Country,Country,Country Code,Latitude,Longitude
0,Finland,Finland,FI,61.924110,25.748151
1,Norway,Norway,NO,60.472024,8.468946
2,Denmark,Denmark,DK,56.263920,9.501785
3,Iceland,Iceland,IS,64.963051,-19.020835
4,Switzerland,Switzerland,CH,46.818188,8.227512
5,Netherlands,Netherlands,NL,52.132633,5.291266
6,Canada,Canada,CA,56.130366,-106.346771
7,New Zealand,New Zealand,NZ,-40.900557,174.885971
8,Sweden,Sweden,SE,60.128161,18.643501
9,Australia,Australia,AU,-25.274398,133.775136
10,Israel,Israel,IL,31.046051,34.851612
11,Austria,Austria,AT,47.516231,14.550072
12,Costa Rica,Costa Rica,CR,9.748917,-83.753428
13,Ireland,Ireland,IE,53.142367,-7.692054
14,Germany,Germany,DE,51.165691,10.451526
15,Belgium,Belgium,BE,50.503887,4.469936
16,Luxembourg,Luxembourg,LU,49.815273,6.129583
17,United States,United States,US,37.090240,-95.712891
18,United Kingdom,United Kingdom,GB,55.378051,-3.435973
19,United Arab Emirates,United Arab Emirates,AE,23.424076,53.847818

In [258]:
#merge lat_lngs_df with happiness_df

happiness_complete = pd.merge(
    lat_lngs_df, df_happy, how="inner", on=["Country", "Country"])

#happiness_complete = [happiness_complete.iloc[:,0:5]]

happiness_complete

#del happiness_complete['Country_y'], happiness_complete['Whisker-high'],happiness_complete['Whisker-low'],happiness_complete['Unnamed: 12'],happiness_complete['Explained by: Perceptions of corruption'],happiness_complete['Explained by: Generosity'], happiness_complete['Explained by: Freedom to make life choices'],happiness_complete['Explained by: Healthy life expectancy'], happiness_complete['Explained by: Social support'], happiness_complete['Explained by: GDP per capita'], happiness_complete['Dystopia (1.92) + residual']
#happiness_complete.rename(columns={'Country_x': 'Country'}, inplace=True)
#happiness_complete.rename(columns={'Happiness score': 'Happiness'}, inplace=True)

#happiness_complete

,Query Country,Country,Country Code_x,Latitude,Longitude,Country Code_y,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Unnamed: 12
0,Finland,Finland,FI,61.924110,25.748151,FI,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393,7.632
1,Norway,Norway,NO,60.472024,8.468946,NO,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340,7.594
2,Denmark,Denmark,DK,56.263920,9.501785,DK,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408,7.554
3,Iceland,Iceland,IS,64.963051,-19.020835,IS,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138,7.495
4,Switzerland,Switzerland,CH,46.818188,8.227512,CH,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357,7.489
5,Netherlands,Netherlands,NL,52.132633,5.291266,NL,7.441,7.498,7.384,2.448,1.361,1.488,0.878,0.638,0.333,0.295,7.441
6,Canada,Canada,CA,56.130366,-106.346771,CA,7.328,7.421,7.236,2.306,1.330,1.532,0.896,0.653,0.321,0.291,7.329
7,New Zealand,New Zealand,NZ,-40.900557,174.885971,NZ,7.324,7.401,7.247,2.156,1.268,1.601,0.876,0.669,0.365,0.389,7.324
8,Sweden,Sweden,SE,60.128161,18.643501,SE,7.314,7.388,7.241,2.217,1.355,1.501,0.913,0.659,0.285,0.383,7.313
9,Australia,Australia,AU,-25.274398,133.775136,AU,7.272,7.358,7.186,2.139,1.340,1.573,0.910,0.647,0.361,0.302,7.272
10,Israel,Israel,IL,31.046051,34.851612,IL,7.190,7.257,7.123,2.817,1.244,1.433,0.888,0.464,0.262,0.082,7.190
11,Austria,Austria,AT,47.516231,14.550072,AT,7.139,7.209,7.069,2.319,1.341,1.504,0.891,0.617,0.242,0.224,7.138
12,Costa Rica,Costa Rica,CR,9.748917,-83.753428,CR,7.072,7.160,6.983,2.911,1.010,1.459,0.817,0.632,0.143,0.101,7.073
13,Ireland,Ireland,IE,53.142367,-7.692054,IE,6.977,7.055,6.900,1.844,1.448,1.583,0.876,0.614,0.307,0.306,6.978
14,Germany,Germany,DE,51.165691,10.451526,DE,6.965,7.024,6.905,2.151,1.340,1.474,0.861,0.586,0.273,0.280,6.965
15,Belgium,Belgium,BE,50.503887,4.469936,BE,6.927,6.995,6.859,2.215,1.324,1.483,0.894,0.583,0.188,0.240,6.927
16,Luxembourg,Luxembourg,LU,49.815273,6.129583,LU,6.910,6.975,6.844,1.769,1.576,1.520,0.896,0.632,0.196,0.321,6.910
17,United States,United States,US,37.090240,-95.712891,US,6.886,6.974,6.798,2.227,1.398,1.471,0.819,0.547,0.291,0.133,6.886
18,United Kingdom,United Kingdom,GB,55.378051,-3.435973,GB,6.814,6.887,6.741,1.912,1.301,1.559,0.883,0.533,0.354,0.272,6.814
19,United Arab Emirates,United Arab Emirates,AE,23.424076,53.847818,AE,6.774,6.844,6.704,2.096,1.467,1.296,0.776,0.670,0.284,0.186,6.775

In [255]:
# Store 'Lat' and 'Lng' into  locations 
locations = happiness_complete[["Latitude", "Longitude"]].astype(float)

# Store happiness
happiness = happiness_complete["Happiness"].astype(float)
locations
happiness

0      7.632
1      7.594
2      7.555
3      7.495
4      7.487
5      3.462
6      7.441
7      7.328
8      7.324
9      7.314
10     7.272
11     7.190
12     7.139
13     7.072
14     6.965
15     6.927
16     6.910
17     6.886
18     6.814
19     6.774
20     6.711
21     6.627
22     6.489
23     6.488
24     6.476
25     6.441
26     6.430
27     6.419
28     6.388
29     6.382
       ...
120    4.410
121    4.377
122    4.356
123    4.350
124    4.321
125    4.308
126    4.301
127    4.245
128    4.190
129    4.166
130    4.161
131    4.141
132    4.139
133    4.103
134    3.999
135    3.964
136    3.808
137    3.795
138    3.774
139    3.692
140    3.632
141    3.590
142    3.587
143    3.582
144    3.495
145    3.408
146    3.355
147    3.254
148    3.083
149    2.905
Name: Happiness, Length: 150, dtype: float64

In [186]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=happiness, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 20)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 20

fig.add_layer(heat_layer)

fig

Figure()

![Heatmap](../Images/heatmap.png)

In [8]:
# Convert bank rate to list
bank_rate = census_data_complete["Bank Count"].tolist()

In [ ]:
# Create bank symbol layer
bank_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Bank amount: {bank}" for bank in bank_rate]
)


fig = gmaps.figure()
fig.add_layer(bank_layer)

fig

![Bank Map](../Images/bank_map.png)

In [ ]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(bank_layer)

fig

![Combined Map](../Images/final_map.png)