# Happiness Heat Map

## Dependencies Set-up

In [259]:
# Dependencies
from vis1_cnfg import gkey
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states
import json

# Configure gmaps with API key
gmaps.configure(api_key=gkey)

## Data Retrieval

In [260]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
df_happy = pd.read_csv("../data/clean_data/happiness_ay_avg.csv")
df_happy.head()

  Country Code      Country  Average Happiness
0           AF  Afghanistan           3.897008
1           AL      Albania           5.018378
2           DZ      Algeria           5.616222
3           AO       Angola           4.420299
4           AR    Argentina           6.580427

## Testing out API Request for Lat/Longs

In [261]:
# Target country
#target_country = "Finland"

# Build the endpoint URL
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(target_country, gkey)

# Run a request to endpoint and convert result to json
geo_data = requests.get(target_url).json()

# Print the json
print(geo_data)
print(target_url)

{'results': [{'address_components': [{'long_name': 'Finland', 'short_name': 'FI', 'types': ['country', 'political']}], 'formatted_address': 'Finland', 'geometry': {'bounds': {'northeast': {'lat': 70.0922932, 'lng': 31.5870999}, 'southwest': {'lat': 59.693623, 'lng': 20.4565002}}, 'location': {'lat': 61.92410999999999, 'lng': 25.7481511}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 70.0922932, 'lng': 31.5870999}, 'southwest': {'lat': 59.693623, 'lng': 20.4565002}}}, 'place_id': 'ChIJ3fYyS9_KgUYREKh1PNZGAQA', 'types': ['country', 'political']}], 'status': 'OK'}
https://maps.googleapis.com/maps/api/geocode/json?address=Finland&key=AIzaSyCZYUp2TGuAKZGJPMv8QBxiB160iruo1lM

In [262]:
# Print the json (pretty printed)
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "Finland",
                    "short_name": "FI",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "Finland",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 70.0922932,
                        "lng": 31.5870999
                    },
                    "southwest": {
                        "lat": 59.693623,
                        "lng": 20.4565002
                    }
                },
                "location": {
                    "lat": 61.92410999999999,
                    "lng": 25.7481511
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 70.0922932,
                        "lng": 31.5870999
                    },
                    "southwest": {
                        "lat": 59.693623,
                        "lng": 20.4565002
                    }
                }
            },
            "place_id": "ChIJ3fYyS9_KgUYREKh1PNZGAQA",
            "types": [
                "country",
                "political"
            ]
        }
    ],
    "status": "OK"
}

In [263]:
# Extract latitude and longitude and short name
country = geo_data["results"][0]["address_components"][0]["long_name"]
cc = geo_data["results"][0]["address_components"][0]["short_name"]
lat = geo_data["results"][0]["geometry"]["location"]["lat"]
lng = geo_data["results"][0]["geometry"]["location"]["lng"]


# Print the latitude and longitude
print('''
    Country: {0}
    Country_Code: {1}
    Latitude: {2}
    Longitude: {3}
    '''.format(target_country,cc, lat, lng))

    Country: Finland
    Country_Code: FI
    Latitude: 61.92410999999999
    Longitude: 25.7481511

## Generating List of Countries

In [264]:
#Create DataFrame of countries from main happiness DataFrame
df_countries = df_happy.iloc[:,0:2]

df_countries.head()

  Country Code      Country
0           AF  Afghanistan
1           AL      Albania
2           DZ      Algeria
3           AO       Angola
4           AR    Argentina

In [265]:
#Turn the DataFrame into a list format to be used in the for loop below
list_countries = []
list_countries =df_countries["Country"].tolist()
#verify the type
type(list_countries)
#print
list_countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kingdom of Jordan',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Cyprus',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of the Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland Country',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

## Perform API Calls against Google GeoData

In [266]:
#set up empty lists for API calls to fill
query_country = []
country_name = []
country_code = []
lat = []
lng = []

#sets up test country list to prototype with first 20
test_countries = list_countries[0:20]

for counter, country in enumerate(list_countries, 1):   
#for counter, country in enumerate(test_countries, 1):   
    print (f"{counter} for {country}")
    query_url = "https://maps.googleapis.com/maps/api/geocode/json?" + "address=" + country + "&key=" + gkey
    geo_data = requests.get(query_url).json()
    #print (f"{query_url}")
    #print (f"{base_url}")
    #print(f"{country}")
    #print(f"{gkey}")
    
    #append country name, country code, lat/long information to lists
    query_country.append(country)
    country_name.append(geo_data["results"][0]["address_components"][0]["long_name"])
    country_code.append(geo_data["results"][0]["address_components"][0]["short_name"])
    lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
    lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])


print(query_country)
print(country_code)
print(country_name)
print(lat)
print(lng)

1 for Afghanistan
2 for Albania
3 for Algeria
4 for Angola
5 for Argentina
6 for Armenia
7 for Australia
8 for Austria
9 for Azerbaijan
10 for Bahrain
11 for Bangladesh
12 for Belarus
13 for Belgium
14 for Belize
15 for Benin
16 for Bhutan
17 for Bolivia
18 for Bosnia and Herzegovina
19 for Botswana
20 for Brazil
21 for Bulgaria
22 for Burkina Faso
23 for Burundi
24 for Cambodia
25 for Cameroon
26 for Canada
27 for Central African Republic
28 for Chad
29 for Chile
30 for China
31 for Colombia
32 for Comoros
33 for Costa Rica
34 for Croatia
35 for Cyprus
36 for Czech Republic
37 for Democratic Republic of the Congo
38 for Denmark
39 for Djibouti
40 for Dominican Republic
41 for Ecuador
42 for Egypt
43 for El Salvador
44 for Estonia
45 for Ethiopia
46 for Finland
47 for France
48 for Gabon
49 for Georgia
50 for Germany
51 for Ghana
52 for Greece
53 for Guatemala
54 for Guinea
55 for Haiti
56 for Honduras
57 for Hong Kong
58 for Hungary
59 for Iceland
60 for India
61 for Indonesia
62 for Iran
63 for Iraq
64 for Ireland
65 for Israel
66 for Italy
67 for Ivory Coast
68 for Jamaica
69 for Japan
70 for Kazakhstan
71 for Kenya
72 for Kingdom of Jordan
73 for Kosovo
74 for Kuwait
75 for Kyrgyzstan
76 for Laos
77 for Latvia
78 for Lebanon
79 for Lesotho
80 for Liberia
81 for Libya
82 for Lithuania
83 for Luxembourg
84 for Macedonia
85 for Madagascar
86 for Malawi
87 for Malaysia
88 for Mali
89 for Malta
90 for Mauritania
91 for Mauritius
92 for Mexico
93 for Moldova
94 for Mongolia
95 for Montenegro
96 for Morocco
97 for Mozambique
98 for Myanmar
99 for Namibia
100 for Nepal
101 for Netherlands
102 for New Zealand
103 for Nicaragua
104 for Niger
105 for Nigeria
106 for Northern Cyprus
107 for Norway
108 for Oman
109 for Pakistan
110 for Palestine
111 for Panama
112 for Paraguay
113 for Peru
114 for Philippines
115 for Poland
116 for Portugal
117 for Qatar
118 for Republic of the Congo
119 for Romania
120 for Russia
121 for Rwanda
122 for Saudi Arabia
123 for Senegal
124 for Serbia
125 for Sierra Leone
126 for Singapore
127 for Slovakia
128 for Slovenia
129 for Somalia
130 for South Africa
131 for South Korea
132 for South Sudan
133 for Spain
134 for Sri Lanka
135 for Sudan
136 for Suriname
137 for Swaziland Country
138 for Sweden
139 for Switzerland
140 for Syria
141 for Taiwan
142 for Tajikistan
143 for Tanzania
144 for Thailand
145 for Togo
146 for Trinidad and Tobago
147 for Tunisia
148 for Turkey
149 for Turkmenistan
150 for Uganda
151 for Ukraine
152 for United Arab Emirates
153 for United Kingdom
154 for United States
155 for Uruguay
156 for Uzbekistan
157 for Venezuela
158 for Vietnam
159 for Yemen
160 for Zambia
161 for Zimbabwe
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'Kingdom of Jordan', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Northern Cyprus', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland Country', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
['AF', 'AL', 'DZ', 'AO', 'AR', 'AM', 'AU', 'AT', 'AZ', 'BH', 'BD', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA', 'BW', 'BR', 'BG', 'BF', 'BI', 'KH', 'CM', 'CA', 'CF', 'TD', 'CL', 'CN', 'CO', 'KM', 'CR', 'HR', 'CY', 'CZ', 'CD', 'DK', 'DJ', 'DO', 'EC', 'EG', 'SV', 'EE', 'ET', 'FI', 'FR', 'GA', 'GA', 'DE', 'GH', 'GR', 'GT', 'GN', 'HT', 'HN', 'HK', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'Ireland', 'IL', 'IT', 'CI', 'JM', 'JP', 'KZ', 'KE', 'JO', 'XK', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LT', 'LU', 'MK', 'MG', 'MW', 'MY', 'ML', 'MT', 'MR', 'MU', 'MX', 'MD', 'MN', 'ME', 'MA', 'MZ', 'MM', 'NA', 'NP', 'NL', 'NZ', 'NI', 'NE', 'NG', 'Northern Cyprus', 'NO', 'OM', 'PK', 'PS', 'PA', 'PY', 'PE', 'PH', 'PL', 'PT', 'QA', 'CG', 'RO', 'RU', 'RW', 'SA', 'SN', 'RS', 'SL', 'SG', 'SK', 'SI', 'SO', 'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SZ', 'SE', 'CH', 'SY', 'TW', 'TJ', 'TZ', 'TH', 'TG', 'TT', 'TN', 'TR', 'TM', 'UG', 'UA', 'AE', 'GB', 'US', 'UY', 'UZ', 'VE', 'VN', 'YE', 'ZM', 'ZW']
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cyprus', 'Czechia', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', "Côte d'Ivoire", 'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'Jordan', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar (Burma)', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Northern Cyprus', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
[33.93911, 41.153332, 28.033886, -11.202692, -38.416097, 40.069099, -25.274398, 47.516231, 40.143105, 26.0667, 23.684994, 53.709807, 50.503887, 17.189877, 9.30769, 27.514162, -16.290154, 43.915886, -22.328474, -14.235004, 42.733883, 12.238333, -3.373056, 12.565679, 7.369721999999999, 56.130366, 6.611110999999999, 15.454166, -35.675147, 35.86166, 4.570868, -11.6455, 9.748916999999999, 45.1, 35.126413, 49.81749199999999, -4.038333, 56.26392, 11.825138, 18.735693, -1.831239, 26.820553, 13.794185, 58.595272, 9.145000000000001, 61.92410999999999, 46.227638, -0.803689, 32.1656221, 51.165691, 7.946527, 39.074208, 15.783471, 9.945587, 18.971187, 15.199999, 22.396428, 47.162494, 64.963051, 20.593684, -0.789275, 32.427908, 33.223191, 53.1423672, 31.046051, 41.87194, 7.539988999999999, 18.109581, 36.204824, 48.019573, -0.023559, 30.585164, 42.6026359, 29.31166, 41.20438, 19.85627, 56.879635, 33.854721, -29.609988, 6.428055, 26.3351, 55.169438, 49.815273, 41.608635, -18.766947, -13.254308, 4.210484, 17.570692, 35.937496, 21.00789, -20.348404, 23.634501, 47.411631, 46.862496, 42.708678, 31.791702, -18.665695, 21.916221, -22.95764, 28.394857, 52.132633, -40.900557, 12.865416, 17.607789, 9.081999, 35.2480359, 60.47202399999999, 21.4735329, 30.375321, 31.952162, 8.537981, -23.442503, -9.189967, 12.879721, 51.919438, 39.39987199999999, 25.354826, -0.228021, 45.943161, 61.52401, -1.940278, 23.885942, 14.497401, 44.016521, 8.460555, 1.352083, 48.669026, 46.151241, 5.152149, -30.559482, 35.907757, 6.876991899999999, 40.46366700000001, 7.873053999999999, 12.862807, 3.919305, -26.522503, 60.12816100000001, 46.818188, 34.80207499999999, 23.69781, 38.861034, -6.369028, 15.870032, 8.619543, 10.691803, 33.886917, 38.963745, 38.969719, 1.373333, 48.379433, 23.424076, 55.378051, 37.09024, -32.522779, 41.377491, 6.42375, 14.058324, 15.552727, -13.133897, -19.015438]
[67.709953, 20.168331, 1.659626, 17.873887, -63.61667199999999, 45.038189, 133.775136, 14.550072, 47.576927, 50.5577, 90.356331, 27.953389, 4.469936, -88.49765, 2.315834, 90.433601, -63.58865299999999, 17.679076, 24.684866, -51.92528, 25.48583, -1.561593, 29.918886, 104.990963, 12.354722, -106.346771, 20.939444, 18.732207, -71.542969, 104.195397, -74.297333, 43.3333, -83.753428, 15.2000001, 33.429859, 15.472962, 21.758664, 9.501785, 42.590275, -70.162651, -78.18340599999999, 30.802498, -88.89653, 25.0136071, 40.489673, 25.7481511, 2.213749, 11.609444, -82.9000751, 10.451526, -1.023194, 21.824312, -90.23075899999999, -9.696645, -72.285215, -86.241905, 114.109497, 19.5033041, -19.020835, 78.96288, 113.921327, 53.688046, 43.679291, -7.692053599999999, 34.851612, 12.56738, -5.547079999999999, -77.297508, 138.252924, 66.923684, 37.906193, 36.238414, 20.902977, 47.481766, 74.766098, 102.495496, 24.603189, 35.862285, 28.233608, -9.429499000000002, 17.228331, 23.881275, 6.129582999999999, 21.745275, 46.869107, 34.301525, 101.975766, -3.996166, 14.375416, -10.940835, 57.55215200000001, -102.552784, 28.369885, 103.846656, 19.37439, -7.092619999999999, 35.529562, 95.955974, 18.49041, 84.12400799999999, 5.291265999999999, 174.885971, -85.207229, 8.081666, 8.675277, 33.6577243, 8.468945999999999, 55.975413, 69.34511599999999, 35.233154, -80.782127, -58.443832, -75.015152, 121.774017, 19.145136, -8.224454, 51.183884, 15.827659, 24.96676, 105.318756, 29.873888, 45.079162, -14.452362, 21.005859, -11.779889, 103.819836, 19.699024, 14.995463, 46.199616, 22.937506, 127.766922, 31.3069788, -3.74922, 80.77179699999999, 30.217636, -56.027783, 31.465866, 18.643501, 8.227511999999999, 38.996815, 120.960515, 71.276093, 34.888822, 100.992541, 0.824782, -61.222503, 9.537499, 35.243322, 59.556278, 32.290275, 31.1655799, 53.847818, -3.435973, -95.712891, -55.765835, 64.585262, -66.58973, 108.277199, 48.516388, 27.849332, 29.154857]

In [267]:
#print each list to verify data and see if cleanup needs to happen
print(list_countries) #full list from Happiness data
print(country_name) #Jordan is coming over as # 121 Fixed in original .csv "Kingdom of Jordan"
print(country_code) # Originally Ireland, Taiwan Province, Northern Cyprus, Brazzaville, Jordan is coming over as # 121. Fixed all but Northern Cyprus
print(lat)
print(lng)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'Kingdom of Jordan', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Northern Cyprus', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland Country', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cyprus', 'Czechia', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', "Côte d'Ivoire", 'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'Jordan', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar (Burma)', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Northern Cyprus', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
['AF', 'AL', 'DZ', 'AO', 'AR', 'AM', 'AU', 'AT', 'AZ', 'BH', 'BD', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA', 'BW', 'BR', 'BG', 'BF', 'BI', 'KH', 'CM', 'CA', 'CF', 'TD', 'CL', 'CN', 'CO', 'KM', 'CR', 'HR', 'CY', 'CZ', 'CD', 'DK', 'DJ', 'DO', 'EC', 'EG', 'SV', 'EE', 'ET', 'FI', 'FR', 'GA', 'GA', 'DE', 'GH', 'GR', 'GT', 'GN', 'HT', 'HN', 'HK', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'Ireland', 'IL', 'IT', 'CI', 'JM', 'JP', 'KZ', 'KE', 'JO', 'XK', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LT', 'LU', 'MK', 'MG', 'MW', 'MY', 'ML', 'MT', 'MR', 'MU', 'MX', 'MD', 'MN', 'ME', 'MA', 'MZ', 'MM', 'NA', 'NP', 'NL', 'NZ', 'NI', 'NE', 'NG', 'Northern Cyprus', 'NO', 'OM', 'PK', 'PS', 'PA', 'PY', 'PE', 'PH', 'PL', 'PT', 'QA', 'CG', 'RO', 'RU', 'RW', 'SA', 'SN', 'RS', 'SL', 'SG', 'SK', 'SI', 'SO', 'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SZ', 'SE', 'CH', 'SY', 'TW', 'TJ', 'TZ', 'TH', 'TG', 'TT', 'TN', 'TR', 'TM', 'UG', 'UA', 'AE', 'GB', 'US', 'UY', 'UZ', 'VE', 'VN', 'YE', 'ZM', 'ZW']
[33.93911, 41.153332, 28.033886, -11.202692, -38.416097, 40.069099, -25.274398, 47.516231, 40.143105, 26.0667, 23.684994, 53.709807, 50.503887, 17.189877, 9.30769, 27.514162, -16.290154, 43.915886, -22.328474, -14.235004, 42.733883, 12.238333, -3.373056, 12.565679, 7.369721999999999, 56.130366, 6.611110999999999, 15.454166, -35.675147, 35.86166, 4.570868, -11.6455, 9.748916999999999, 45.1, 35.126413, 49.81749199999999, -4.038333, 56.26392, 11.825138, 18.735693, -1.831239, 26.820553, 13.794185, 58.595272, 9.145000000000001, 61.92410999999999, 46.227638, -0.803689, 32.1656221, 51.165691, 7.946527, 39.074208, 15.783471, 9.945587, 18.971187, 15.199999, 22.396428, 47.162494, 64.963051, 20.593684, -0.789275, 32.427908, 33.223191, 53.1423672, 31.046051, 41.87194, 7.539988999999999, 18.109581, 36.204824, 48.019573, -0.023559, 30.585164, 42.6026359, 29.31166, 41.20438, 19.85627, 56.879635, 33.854721, -29.609988, 6.428055, 26.3351, 55.169438, 49.815273, 41.608635, -18.766947, -13.254308, 4.210484, 17.570692, 35.937496, 21.00789, -20.348404, 23.634501, 47.411631, 46.862496, 42.708678, 31.791702, -18.665695, 21.916221, -22.95764, 28.394857, 52.132633, -40.900557, 12.865416, 17.607789, 9.081999, 35.2480359, 60.47202399999999, 21.4735329, 30.375321, 31.952162, 8.537981, -23.442503, -9.189967, 12.879721, 51.919438, 39.39987199999999, 25.354826, -0.228021, 45.943161, 61.52401, -1.940278, 23.885942, 14.497401, 44.016521, 8.460555, 1.352083, 48.669026, 46.151241, 5.152149, -30.559482, 35.907757, 6.876991899999999, 40.46366700000001, 7.873053999999999, 12.862807, 3.919305, -26.522503, 60.12816100000001, 46.818188, 34.80207499999999, 23.69781, 38.861034, -6.369028, 15.870032, 8.619543, 10.691803, 33.886917, 38.963745, 38.969719, 1.373333, 48.379433, 23.424076, 55.378051, 37.09024, -32.522779, 41.377491, 6.42375, 14.058324, 15.552727, -13.133897, -19.015438]
[67.709953, 20.168331, 1.659626, 17.873887, -63.61667199999999, 45.038189, 133.775136, 14.550072, 47.576927, 50.5577, 90.356331, 27.953389, 4.469936, -88.49765, 2.315834, 90.433601, -63.58865299999999, 17.679076, 24.684866, -51.92528, 25.48583, -1.561593, 29.918886, 104.990963, 12.354722, -106.346771, 20.939444, 18.732207, -71.542969, 104.195397, -74.297333, 43.3333, -83.753428, 15.2000001, 33.429859, 15.472962, 21.758664, 9.501785, 42.590275, -70.162651, -78.18340599999999, 30.802498, -88.89653, 25.0136071, 40.489673, 25.7481511, 2.213749, 11.609444, -82.9000751, 10.451526, -1.023194, 21.824312, -90.23075899999999, -9.696645, -72.285215, -86.241905, 114.109497, 19.5033041, -19.020835, 78.96288, 113.921327, 53.688046, 43.679291, -7.692053599999999, 34.851612, 12.56738, -5.547079999999999, -77.297508, 138.252924, 66.923684, 37.906193, 36.238414, 20.902977, 47.481766, 74.766098, 102.495496, 24.603189, 35.862285, 28.233608, -9.429499000000002, 17.228331, 23.881275, 6.129582999999999, 21.745275, 46.869107, 34.301525, 101.975766, -3.996166, 14.375416, -10.940835, 57.55215200000001, -102.552784, 28.369885, 103.846656, 19.37439, -7.092619999999999, 35.529562, 95.955974, 18.49041, 84.12400799999999, 5.291265999999999, 174.885971, -85.207229, 8.081666, 8.675277, 33.6577243, 8.468945999999999, 55.975413, 69.34511599999999, 35.233154, -80.782127, -58.443832, -75.015152, 121.774017, 19.145136, -8.224454, 51.183884, 15.827659, 24.96676, 105.318756, 29.873888, 45.079162, -14.452362, 21.005859, -11.779889, 103.819836, 19.699024, 14.995463, 46.199616, 22.937506, 127.766922, 31.3069788, -3.74922, 80.77179699999999, 30.217636, -56.027783, 31.465866, 18.643501, 8.227511999999999, 38.996815, 120.960515, 71.276093, 34.888822, 100.992541, 0.824782, -61.222503, 9.537499, 35.243322, 59.556278, 32.290275, 31.1655799, 53.847818, -3.435973, -95.712891, -55.765835, 64.585262, -66.58973, 108.277199, 48.516388, 27.849332, 29.154857]

In [269]:
#create a dataframe to store all the cities and countries generated with citipy
lat_lngs_df = pd.DataFrame({'Query Country': query_country, 'Country':country_name, 'Country Code':country_code, 'Latitude':lat, 'Longitude':lng})
#print(city_exists)
#print(cloudiness)
#print(country_code)
#print(date)
#print(humidity)
#print(lat)
#print(lon)
#print(max_temp)
#print(windspeed)

#lat_lngs_df[0:29]
#lat_lngs_df[30:69]
#lat_lngs_df[70:100]
#lat_lngs_df[101:156]

lat_lngs_df.head()

  Query Country      Country Country Code   Latitude  Longitude
0   Afghanistan  Afghanistan           AF  33.939110  67.709953
1       Albania      Albania           AL  41.153332  20.168331
2       Algeria      Algeria           DZ  28.033886   1.659626
3        Angola       Angola           AO -11.202692  17.873887
4     Argentina    Argentina           AR -38.416097 -63.616672

In [272]:
# Output File (CSV)
output_data_file = "output/vis1.csv"
#export file to look at in excel
lat_lngs_df.to_csv(output_data_file, encoding="utf-8", index=False)

In [252]:
#Fixing Country Codes
#Ireland, Taiwan Province, Northern Cyprus, Brazzaville, Jordan
lat_lngs_df.at[13, 'Country Code'] = "IE" #Ireland is IE in happiness csv
#lat_lngs_df.at[25, 'Country Code'] = "SY" #Taiwan Province is SY in happiness csv
lat_lngs_df.at[57, 'Country Code'] = "NF" #Northern Cyprus is NF in happiness csv
#lat_lngs_df.at[113, 'Country Code'] = "CG" #Brazzaville is  in happiness csv
#lat_lngs_df[50:90]
lat_lngs_df

,Query Country,Country,Country Code,Latitude,Longitude
0,Finland,Finland,FI,61.924110,25.748151
1,Norway,Norway,NO,60.472024,8.468946
2,Denmark,Denmark,DK,56.263920,9.501785
3,Iceland,Iceland,IS,64.963051,-19.020835
4,Switzerland,Switzerland,CH,46.818188,8.227512
5,Netherlands,Netherlands,NL,52.132633,5.291266
6,Canada,Canada,CA,56.130366,-106.346771
7,New Zealand,New Zealand,NZ,-40.900557,174.885971
8,Sweden,Sweden,SE,60.128161,18.643501
9,Australia,Australia,AU,-25.274398,133.775136
10,Israel,Israel,IL,31.046051,34.851612
11,Austria,Austria,AT,47.516231,14.550072
12,Costa Rica,Costa Rica,CR,9.748917,-83.753428
13,Ireland,Ireland,IE,53.142367,-7.692054
14,Germany,Germany,DE,51.165691,10.451526
15,Belgium,Belgium,BE,50.503887,4.469936
16,Luxembourg,Luxembourg,LU,49.815273,6.129583
17,United States,United States,US,37.090240,-95.712891
18,United Kingdom,United Kingdom,GB,55.378051,-3.435973
19,United Arab Emirates,United Arab Emirates,AE,23.424076,53.847818

In [258]:
#merge lat_lngs_df with happiness_df

happiness_complete = pd.merge(
    lat_lngs_df, df_happy, how="inner", on=["Country", "Country"])

#happiness_complete = [happiness_complete.iloc[:,0:5]]

happiness_complete

#del happiness_complete['Country_y'], happiness_complete['Whisker-high'],happiness_complete['Whisker-low'],happiness_complete['Unnamed: 12'],happiness_complete['Explained by: Perceptions of corruption'],happiness_complete['Explained by: Generosity'], happiness_complete['Explained by: Freedom to make life choices'],happiness_complete['Explained by: Healthy life expectancy'], happiness_complete['Explained by: Social support'], happiness_complete['Explained by: GDP per capita'], happiness_complete['Dystopia (1.92) + residual']
#happiness_complete.rename(columns={'Country_x': 'Country'}, inplace=True)
#happiness_complete.rename(columns={'Happiness score': 'Happiness'}, inplace=True)

#happiness_complete

,Query Country,Country,Country Code_x,Latitude,Longitude,Country Code_y,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Unnamed: 12
0,Finland,Finland,FI,61.924110,25.748151,FI,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393,7.632
1,Norway,Norway,NO,60.472024,8.468946,NO,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340,7.594
2,Denmark,Denmark,DK,56.263920,9.501785,DK,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408,7.554
3,Iceland,Iceland,IS,64.963051,-19.020835,IS,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138,7.495
4,Switzerland,Switzerland,CH,46.818188,8.227512,CH,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357,7.489
5,Netherlands,Netherlands,NL,52.132633,5.291266,NL,7.441,7.498,7.384,2.448,1.361,1.488,0.878,0.638,0.333,0.295,7.441
6,Canada,Canada,CA,56.130366,-106.346771,CA,7.328,7.421,7.236,2.306,1.330,1.532,0.896,0.653,0.321,0.291,7.329
7,New Zealand,New Zealand,NZ,-40.900557,174.885971,NZ,7.324,7.401,7.247,2.156,1.268,1.601,0.876,0.669,0.365,0.389,7.324
8,Sweden,Sweden,SE,60.128161,18.643501,SE,7.314,7.388,7.241,2.217,1.355,1.501,0.913,0.659,0.285,0.383,7.313
9,Australia,Australia,AU,-25.274398,133.775136,AU,7.272,7.358,7.186,2.139,1.340,1.573,0.910,0.647,0.361,0.302,7.272
10,Israel,Israel,IL,31.046051,34.851612,IL,7.190,7.257,7.123,2.817,1.244,1.433,0.888,0.464,0.262,0.082,7.190
11,Austria,Austria,AT,47.516231,14.550072,AT,7.139,7.209,7.069,2.319,1.341,1.504,0.891,0.617,0.242,0.224,7.138
12,Costa Rica,Costa Rica,CR,9.748917,-83.753428,CR,7.072,7.160,6.983,2.911,1.010,1.459,0.817,0.632,0.143,0.101,7.073
13,Ireland,Ireland,IE,53.142367,-7.692054,IE,6.977,7.055,6.900,1.844,1.448,1.583,0.876,0.614,0.307,0.306,6.978
14,Germany,Germany,DE,51.165691,10.451526,DE,6.965,7.024,6.905,2.151,1.340,1.474,0.861,0.586,0.273,0.280,6.965
15,Belgium,Belgium,BE,50.503887,4.469936,BE,6.927,6.995,6.859,2.215,1.324,1.483,0.894,0.583,0.188,0.240,6.927
16,Luxembourg,Luxembourg,LU,49.815273,6.129583,LU,6.910,6.975,6.844,1.769,1.576,1.520,0.896,0.632,0.196,0.321,6.910
17,United States,United States,US,37.090240,-95.712891,US,6.886,6.974,6.798,2.227,1.398,1.471,0.819,0.547,0.291,0.133,6.886
18,United Kingdom,United Kingdom,GB,55.378051,-3.435973,GB,6.814,6.887,6.741,1.912,1.301,1.559,0.883,0.533,0.354,0.272,6.814
19,United Arab Emirates,United Arab Emirates,AE,23.424076,53.847818,AE,6.774,6.844,6.704,2.096,1.467,1.296,0.776,0.670,0.284,0.186,6.775

In [255]:
# Store 'Lat' and 'Lng' into  locations 
locations = happiness_complete[["Latitude", "Longitude"]].astype(float)

# Store happiness
happiness = happiness_complete["Happiness"].astype(float)
locations
happiness

0      7.632
1      7.594
2      7.555
3      7.495
4      7.487
5      3.462
6      7.441
7      7.328
8      7.324
9      7.314
10     7.272
11     7.190
12     7.139
13     7.072
14     6.965
15     6.927
16     6.910
17     6.886
18     6.814
19     6.774
20     6.711
21     6.627
22     6.489
23     6.488
24     6.476
25     6.441
26     6.430
27     6.419
28     6.388
29     6.382
       ...
120    4.410
121    4.377
122    4.356
123    4.350
124    4.321
125    4.308
126    4.301
127    4.245
128    4.190
129    4.166
130    4.161
131    4.141
132    4.139
133    4.103
134    3.999
135    3.964
136    3.808
137    3.795
138    3.774
139    3.692
140    3.632
141    3.590
142    3.587
143    3.582
144    3.495
145    3.408
146    3.355
147    3.254
148    3.083
149    2.905
Name: Happiness, Length: 150, dtype: float64

In [186]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=happiness, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 20)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 20

fig.add_layer(heat_layer)

fig

Figure()

![Heatmap](../Images/heatmap.png)

In [8]:
# Convert bank rate to list
bank_rate = census_data_complete["Bank Count"].tolist()

In [ ]:
# Create bank symbol layer
bank_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Bank amount: {bank}" for bank in bank_rate]
)


fig = gmaps.figure()
fig.add_layer(bank_layer)

fig

![Bank Map](../Images/bank_map.png)

In [ ]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(bank_layer)

fig

![Combined Map](../Images/final_map.png)